name: Android Build

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Find project folder
      id: find_project
      run: |
        PROJECT_DIR=$(find . -name "buildozer.spec" -exec dirname {} \; | grep -v '^\.$' | head -n 1)
        PROJECT_DIR=${PROJECT_DIR#./}  # remove leading ./
        echo "Project folder: $PROJECT_DIR"
        echo "project_dir=$PROJECT_DIR" >> $GITHUB_OUTPUT

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: 3.10

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y python3-pip python3.10-venv git zip unzip openjdk-17-jdk
        python -m pip install --upgrade pip
        python -m pip install buildozer python-for-android

    - name: Build APK
      run: |
        cd ${{ steps.find_project.outputs.project_dir }}
        python -m venv venv
        source venv/bin/activate
        buildozer android debug
