name: Android Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ANDROID_API: 33
      ANDROID_MIN_API: 21
      ANDROID_NDK: r25b

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set Project Directory
      id: set_project_dir
      run: |
        PROJECT_DIR=$(find . -name "buildozer.spec" -exec dirname {} \; | head -n 1 | sed 's|^\./||')
        echo "PROJECT_DIR=$PROJECT_DIR" >> $GITHUB_ENV
        echo "Project folder: $PROJECT_DIR"

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install Buildozer and Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install cython==0.29.36
        pip install buildozer==1.5.0 python-for-android==2024.1.21

    - name: Prepare icons/presplash
      run: |
        cd ${{ env.PROJECT_DIR }}
        echo "Checking icons/presplash..."
        [ -f "./assets/default_icon.png" ] && echo "Icon exists" || echo "No icon, skipping"
        [ -f "./assets/default_presplash.png" ] && echo "Presplash exists" || echo "No presplash, skipping"

    - name: Install Android SDK and Command-Line Tools
      run: |
        ANDROIDSDK=$HOME/.buildozer/android/platform/android-sdk
        mkdir -p $ANDROIDSDK/cmdline-tools
        cd $ANDROIDSDK/cmdline-tools
        wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip -O cmdline-tools.zip
        unzip -q cmdline-tools.zip
        mv cmdline-tools latest
        rm cmdline-tools.zip

        export PATH=$ANDROIDSDK/cmdline-tools/latest/bin:$PATH

        yes | sdkmanager --licenses
        sdkmanager "platform-tools" "platforms;android-33" "build-tools;36.1.0"

    - name: Build APK
      run: |
        cd ${{ env.PROJECT_DIR }}
        ANDROIDSDK=$HOME/.buildozer/android/platform/android-sdk
        ANDROIDNDK=$HOME/.buildozer/android/platform/android-ndk-r25b
        export PATH=$ANDROIDSDK/cmdline-tools/latest/bin:$PATH
        buildozer android debug --sdk-dir $ANDROIDSDK --ndk-dir $ANDROIDNDK
