name: Android Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      ANDROID_API: 33
      ANDROID_MIN_API: 21
      ANDROID_NDK: r25b

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set Project Directory
      id: set_project_dir
      run: |
        PROJECT_DIR=$(find . -name "buildozer.spec" -exec dirname {} \; | head -n 1 | sed 's|^\./||')
        echo "PROJECT_DIR=$PROJECT_DIR" >> $GITHUB_ENV
        echo "Project folder: $PROJECT_DIR"

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install cython==0.29.36
        pip install buildozer==1.5.0 python-for-android==2024.1.21

    - name: Install Android SDK Command-Line Tools
      run: |
        export ANDROID_SDK_ROOT=$HOME/.buildozer/android/platform/android-sdk
        mkdir -p $ANDROID_SDK_ROOT/cmdline-tools
        cd $ANDROID_SDK_ROOT/cmdline-tools
        wget https://dl.google.com/android/repository/commandlinetools-linux-9477386_latest.zip -O cmdline-tools.zip
        unzip -q cmdline-tools.zip
        mv cmdline-tools latest
        rm cmdline-tools.zip

        export PATH=$ANDROID_SDK_ROOT/cmdline-tools/latest/bin:$PATH

        yes | sdkmanager --licenses
        sdkmanager "platform-tools" "platforms;android-${{ env.ANDROID_API }}" "build-tools;36.1.0"

    - name: Prepare icons/presplash
      run: |
        cd ${{ env.PROJECT_DIR }}
        echo "Checking icons/presplash..."
        if [ -f "./assets/default_icon.png" ]; then
          echo "Icon exists, OK"
        else
          echo "No icon found, skipping."
        fi
        if [ -f "./assets/default_presplash.png" ]; then
          echo "Presplash exists, OK"
        else
          echo "No presplash found, skipping."
        fi

    - name: Build APK
      run: |
        cd ${{ env.PROJECT_DIR }}
        export ANDROIDSDK=$HOME/.buildozer/android/platform/android-sdk
        export ANDROIDNDK=$HOME/.buildozer/android/platform/android-ndk-r25b
        export PATH=$ANDROIDSDK/cmdline-tools/latest/bin:$PATH
        buildozer android debug
